.center{
  text-align: center;
}

.box{
  border-style: solid;
  background-color: #white;
  box-shadow: 2px 2px;
}

.wrapper{
  background:transparent url(CounterWallpaper.jpg) no-repeat center center;
  width:700px;
  height:400px;
}
